<p id="notice"><%= notice %></p>

<p>
  <strong>Firt name:</strong>
  <%= @profile.firt_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Document:</strong>
  <%= @profile.document_id %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @profile.document_type_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
