<p id="notice"><%= notice %></p>

<h1>Cargapp Payments</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Amount</th>
      <th>Transaction code</th>
      <th>Observation</th>
      <th>Payment method</th>
      <th>Statu</th>
      <th>Generator</th>
      <th>Receiver</th>
      <th>Bank account</th>
      <th>Service</th>
      <th>Company</th>
      <th>User</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cargapp_payments.each do |cargapp_payment| %>
      <tr>
        <td><%= cargapp_payment.uuid %></td>
        <td><%= cargapp_payment.amount %></td>
        <td><%= cargapp_payment.transaction_code %></td>
        <td><%= cargapp_payment.observation %></td>
        <td><%= cargapp_payment.payment_method_id %></td>
        <td><%= cargapp_payment.statu_id %></td>
        <td><%= cargapp_payment.generator_id %></td>
        <td><%= cargapp_payment.receiver_id %></td>
        <td><%= cargapp_payment.bank_account_id %></td>
        <td><%= cargapp_payment.service_id %></td>
        <td><%= cargapp_payment.company_id %></td>
        <td><%= cargapp_payment.user_id %></td>
        <td><%= cargapp_payment.active %></td>
        <td><%= link_to 'Show', cargapp_payment %></td>
        <td><%= link_to 'Edit', edit_cargapp_payment_path(cargapp_payment) %></td>
        <td><%= link_to 'Destroy', cargapp_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cargapp Payment', new_cargapp_payment_path %>
