<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_document.name %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @service_document.document_type %>
</p>

<p>
  <strong>Document:</strong>
  <%= @service_document.document %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service_document.service_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @service_document.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @service_document.active %>
</p>

<%= link_to 'Edit', edit_service_document_path(@service_document) %> |
<%= link_to 'Back', service_documents_path %>
