<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cargapp_integration.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cargapp_integration.description %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @cargapp_integration.provider %>
</p>

<p>
  <strong>Code:</strong>
  <%= @cargapp_integration.code %>
</p>

<p>
  <strong>Url:</strong>
  <%= @cargapp_integration.url %>
</p>

<p>
  <strong>Url provider:</strong>
  <%= @cargapp_integration.url_provider %>
</p>

<p>
  <strong>Url production:</strong>
  <%= @cargapp_integration.url_production %>
</p>

<p>
  <strong>Url develop:</strong>
  <%= @cargapp_integration.url_develop %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cargapp_integration.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @cargapp_integration.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @cargapp_integration.password %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cargapp_integration.phone %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @cargapp_integration.pin %>
</p>

<p>
  <strong>Token:</strong>
  <%= @cargapp_integration.token %>
</p>

<p>
  <strong>App:</strong>
  <%= @cargapp_integration.app_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @cargapp_integration.client_id %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @cargapp_integration.api_key %>
</p>

<p>
  <strong>User:</strong>
  <%= @cargapp_integration.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @cargapp_integration.active %>
</p>

<%= link_to 'Edit', edit_cargapp_integration_path(@cargapp_integration) %> |
<%= link_to 'Back', cargapp_integrations_path %>
