<p id="notice"><%= notice %></p>

<p>
  <strong>Account number:</strong>
  <%= @bank_account.account_number %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @bank_account.account_type %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @bank_account.bank %>
</p>

<p>
  <strong>User:</strong>
  <%= @bank_account.user_id %>
</p>

<p>
  <strong>Statu:</strong>
  <%= @bank_account.statu_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @bank_account.active %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
