<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @challenge.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @challenge.image %>
</p>

<p>
  <strong>Point:</strong>
  <%= @challenge.point %>
</p>

<p>
  <strong>User:</strong>
  <%= @challenge.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @challenge.active %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
