<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Model year</th>
      <th>Color</th>
      <th>Plate</th>
      <th>Chassis</th>
      <th>Owner vehicle</th>
      <th>Vehicle type</th>
      <th>Owner document type</th>
      <th>Owner document</th>
      <th>User</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.model_year %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.plate %></td>
        <td><%= vehicle.chassis %></td>
        <td><%= vehicle.owner_vehicle %></td>
        <td><%= vehicle.vehicle_type_id %></td>
        <td><%= vehicle.owner_document_type_id %></td>
        <td><%= vehicle.owner_document_id %></td>
        <td><%= vehicle.user_id %></td>
        <td><%= vehicle.active %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
