<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @vehicle.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Model year:</strong>
  <%= @vehicle.model_year %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @vehicle.plate %>
</p>

<p>
  <strong>Chassis:</strong>
  <%= @vehicle.chassis %>
</p>

<p>
  <strong>Owner vehicle:</strong>
  <%= @vehicle.owner_vehicle %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle.vehicle_type_id %>
</p>

<p>
  <strong>Owner document type:</strong>
  <%= @vehicle.owner_document_type_id %>
</p>

<p>
  <strong>Owner document:</strong>
  <%= @vehicle.owner_document_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @vehicle.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @vehicle.active %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
