<p id="notice"><%= notice %></p>

<h1>Cargapp Ads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Body</th>
      <th>Image</th>
      <th>Url</th>
      <th>Media</th>
      <th>Have discoun</th>
      <th>Is percentage</th>
      <th>Discoun</th>
      <th>User</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cargapp_ads.each do |cargapp_ad| %>
      <tr>
        <td><%= cargapp_ad.name %></td>
        <td><%= cargapp_ad.price %></td>
        <td><%= cargapp_ad.description %></td>
        <td><%= cargapp_ad.body %></td>
        <td><%= cargapp_ad.image %></td>
        <td><%= cargapp_ad.url %></td>
        <td><%= cargapp_ad.media %></td>
        <td><%= cargapp_ad.have_discoun %></td>
        <td><%= cargapp_ad.is_percentage %></td>
        <td><%= cargapp_ad.discoun %></td>
        <td><%= cargapp_ad.user_id %></td>
        <td><%= cargapp_ad.active %></td>
        <td><%= link_to 'Show', cargapp_ad %></td>
        <td><%= link_to 'Edit', edit_cargapp_ad_path(cargapp_ad) %></td>
        <td><%= link_to 'Destroy', cargapp_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cargapp Ad', new_cargapp_ad_path %>
