<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cargapp_ad.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cargapp_ad.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cargapp_ad.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @cargapp_ad.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @cargapp_ad.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @cargapp_ad.url %>
</p>

<p>
  <strong>Media:</strong>
  <%= @cargapp_ad.media %>
</p>

<p>
  <strong>Have discoun:</strong>
  <%= @cargapp_ad.have_discoun %>
</p>

<p>
  <strong>Is percentage:</strong>
  <%= @cargapp_ad.is_percentage %>
</p>

<p>
  <strong>Discoun:</strong>
  <%= @cargapp_ad.discoun %>
</p>

<p>
  <strong>User:</strong>
  <%= @cargapp_ad.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @cargapp_ad.active %>
</p>

<%= link_to 'Edit', edit_cargapp_ad_path(@cargapp_ad) %> |
<%= link_to 'Back', cargapp_ads_path %>
