<%= form_with(model: parameter, local: true) do |form| %>
  <% if parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
        <% parameter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <% form.text_field :user_id %>
    <%= form.collection_select(:user_id, @users, :id, :email, {}, :class => "form-control") %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :cargapp_model_id %>
    <% form.text_field :cargapp_model_id %>
    <%= form.collection_select(:cargapp_model_id, @cargapp_models, :id, :name, {}, :class => "form-control") %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
